.top-menu {
    margin-bottom:50px;
}

.return {
    font-size: 24px !important;
    top: 3px;
    position: relative;
    margin-right: 8px;
}

.return-link {
    text-decoration: none;
    color:#FFF;
}

.heart-rate {
    font-size: 20px;
    color: #FFF;
    position: absolute;
    right: 19px;
    top: 14px;
}

.heart-rate .fa-heart {
    color: #d40000;
    font-size: 31px;
    top: 6px;
    position: relative;
}